---
import Base from "../layouts/Base.astro";
---

<Base title="Design 3 | Sashreek Addanki" showNav={false} bodyClass="style-three">
  <section class="section hero hero-frame variant-three">
    <div class="name fade-up">sashreek addanki</div>
    <div class="tagline fade-up delay-1">systems-minded developer with a calm visual voice</div>
    <div class="linklist fade-up delay-2">
      <a href="/1">design one</a>
      <a href="/2">design two</a>
      <a href="/4">design four</a>
      <a href="/5">design five</a>
    </div>
  </section>
</Base>
