---
import Base from "../layouts/Base.astro";
---

<Base title="Sashreek Addanki" showNav={false} bodyClass="solid">
  <section class="section hero">
    <div class="name fade-up">sashreek addanki</div>
    <div class="tagline fade-up delay-1">minimal interfaces, thoughtful systems</div>
    <div class="pill-list fade-up delay-2">
      <a class="pill" href="/about">about me</a>
      <a class="pill" href="/work">my projects</a>
      <a class="pill" href="https://github.com/Sashreek007" target="_blank" rel="noreferrer">github</a>
      <a class="pill" href="https://www.linkedin.com/in/sashreek-addanki-121471257/" target="_blank" rel="noreferrer">linkedin</a>
      <a class="pill" href="/resume">resume</a>
    </div>
  </section>
</Base>
