---
import Base from "../layouts/Base.astro";
---

<Base title="Resume | Sashreek Addanki" description="Resume of Sashreek Addanki">
  <section class="section stack">
    <div class="panel fade-up">
      <div class="lead">Resume</div>
      <div class="subtle">Please hire me :)</div>
    </div>

    <div class="resume-wrap fade-up delay-1">
      <div class="resume-toolbar">
        <span>PDF viewer</span>
        <a href="/Sashreek%20Addanki.pdf" target="_blank" rel="noreferrer noopener">open in new tab</a>
      </div>
      <div class="resume-frame">
        <iframe src="/Sashreek%20Addanki.pdf" title="Resume PDF"></iframe>
      </div>
      <div class="subtle">If the PDF does not load, download it <a href="/Sashreek%20Addanki.pdf">here</a>.</div>
    </div>
  </section>
</Base>
